
body {
    --kolor-glowny: #6A9CFF;
    --kolor-akcentowany: #4D89FF;
    --kolor-tlo: #A9C6FF;
    --kolor-kontrastujacy: #FFB539;
    background: var(--kolor-tlo);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    img {
        width: initial;
        height: 10vh;
        float: right;
    }

    #search {
        float: none;
        height: 3em;
        margin-top: 2em;
    }
}


.wyszukiwarka {
    display: inline;
}
