body {
    background: black;
}

nav {
    text-align: center;
    img {
        width: initial;
        height: 10vh;
        float: right;
    }

    #search {
        float: none;
        height: 3em;
        margin-top: 2em;
    }
}


.wyszukiwarka {
    display: inline;
}
