nav {
    height: 10vh;
}

img {
    height: 24vh;
    width: 100%;
    object-fit: cover;
}

#porownanie-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

main {
    height: 66vh;
    display: flex;
    flex-flow: row;
    gap: 10px;

    #lewy {
        text-align: right;
    }

    #prawy {
        text-align: left;
    }

    #prawy, #lewy {
        flex: 1;
        background: var(--kolor-glowny);
        display: inline;
        height: 100%;
        padding: 10px;
    }

}
