nav {
    height: 10vh;
    position: fixed;
    width: 100%;
}

#bigone{
    height: 100%;
    width: 100%;
    background-image: url("../dlugi_uniwersytet.jpeg");
    background-size: cover;
    position: fixed;
    margin: 0px;
}

#porownanie-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.reszta {
    position: absolute;
    top: 97%;
    width: 100%;
    height: 70%;
}

main {
    height: 100%;
    display: flex;
    flex-flow: row;
    gap: 10px;

    #lewy {
        text-align: right;
    }

    #prawy {
        text-align: left;
    }

    #prawy, #lewy {
        flex: 1;
        background: var(--kolor-glowny);
        display: inline;
        height: 100%;
        padding: 10px;
    }

}
